.p {
    width: 30%;
    height: 29%;
    margin: 20px 10px;
    border: 2px solid lightgray;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
}

.p-browser {
    height: 20px;
    background-color: lightgray;
    display: flex;
    align-items: center;
    position: sticky;
    z-index: 2;
}

.p-circle {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 4px;
    background-color: white;
}

.p-img {
    width: 100%;
    transition: all 5s ease;
}

.p:hover .p-img {
    transform: translateY(-70%);
    border-radius: 10px 10px 0px 0px;
}


@media screen and (max-width: 480px) {
    .p {
        width: 70%;
    }
}