.p {
   width: 30rem;
   height: 21rem;
   margin: 20px 10px;
   border: 2px solid lightgray;
   border-radius: 10px 10px 0px 0px;
   overflow: hidden;
}

.p-browser {
   height: 1.2rem;
   background-color: lightgray;
   display: flex;
   align-items: center;
   position: sticky;
   z-index: 2;
}

.p-circle {
   width: 8px;
   height: 8px;
   border-radius: 50%;
   margin: 4px;
   background-color: white;
}

.p-img1,
.p-img2,
.p-img3 {
   width: 100%;
   transition: all 5s ease;
}

.p:hover .p-img1 {
   transform: translateY(-70%);
   border-radius: 10px 10px 0px 0px;
}

.p:hover .p-img2 {
   transform: translateY(-56%);
   border-radius: 10px 10px 0px 0px;
}

.p:hover .p-img3 {
   transform: translateY(-42%);
   border-radius: 10px 10px 0px 0px;
}

@media screen and (max-width: 480px) {
   .p {
      width: 10rem;
      height: 7.8rem;
   }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
   .p {
      width: 7.5rem;
      height: 6rem;
   }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
   .p {
      width: 17rem;
      height: 12.5rem;
   }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
   .p {
      width: 20rem;
      height: 14.5rem;
   }
}

@media screen and (min-width: 1200px) and (max-width: 1400px) {
   .p {
      width: 20rem;
      height: 14.25rem;
   }
}
